
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: url('https://images.pexels.com/photos/1090977/pexels-photo-1090977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); /* Caminho para sua imagem de fundo */ /* Caminho para sua imagem de fundo */
    background-size: cover; /* Cobrir o cabeçalho */
    background-position: center; /* Centralizar a imagem de fundo */
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Centralizar o texto */
  }
  
  header h1 {
    margin: 0;
    padding-left: 1%;
    text-align: left;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    padding-left: 10%;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .mainText{
    padding-left: 5%;
    padding-top: 10%;
    color: #485935;
  }

  .mainText h1{
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
  }
  .mainText p{
    font-size: 50px;
    font-family: "Bebas Neue";
  }
  footer {
      background-color: #38422b;
      padding: 20px 0;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
  }
 